<div class="container">

  <button class="btn btn-info" ng-click="debug=!debug">Debug</button>
  <hr>
  <pre ng-show="debug">thoughts = {{thoughts | json}}</pre>    

  <div class="row">
    <div class="col-xs-4">
      Search: <input class="form-control" placeholder="Search..." ng-model="query">
    </div>
    <div class="col-xs-3">
      Sort by:
      <select ng-model="orderProp" class="form-control">
        <option value="title">Title</option>
        <option value="-updated" selected>Newest</option>
      </select>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-xs-8">
      <a href="#/thoughts/add">
        <button class="btn btn-primary">Add Thought</button>
      </a>
    </div>
  </div>

  <div class="list-group">
    <a class="list-group-item clearfix" ng-repeat="thought in thoughts | filter:query | orderBy:orderProp" ng-click="show(thought.id)">
      <div class="row">
        <div class="col-xs-8">
          <h4 class="list-group-item-heading">{{thought.title}}</h4>
          <p class="list-group-item-text">{{thought.updated | date:'dd/MM/yyyy @ h:mma'}}</p>
        </div>
        <div class="col-xs-4">
          <span class="pull-right">
            <div class="btn-group">
              <button class="btn btn-default" ng-click="edit(thought.id)">
                <i class="glyphicon glyphicon-pencil"></i>
              </button>
              <button class="btn btn-danger" ng-click="remove(thought.id)">
                <i class="glyphicon glyphicon-remove"></i>
              </button>  
            </div>      
          </span>
        </div>
      </div>
    </a>
  </div>

</div>